@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&family=Be+Vietnam+Pro:wght@300&family=Montserrat&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Baloo Thambi 2', cursive;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
*::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #373737;
}
.keys{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: #252424;
    color: white;
    border: 0;
}
.container {
    border: solid 10px #373737;
    border-radius: 10px;
    width: 935px;
    /* margin-left: 120px; */
    margin:auto;
}
.centerPortion {
    display: flex;
    border-radius: 10px;
}
.Delete{
    border-radius: 10px;
    width: 170px;
    height: 45px;
    background-color: #252424;
    color: white;
    border: 0;
}
.Backspace{
    border-radius: 10px;
    width: 95px;
    height: 45px;
    background-color: #252424;
    color: white;
    border: 0;
}
.Enter{
    border-radius: 10px;
    width: 95px;
    height: 45px;
    background-color: #252424;
    color: white;
    border: 0;
}
.Shift{
    border-radius: 10px;
    width: 95px;
    height: 45px;
    background-color: #252424;
    color: white;
    border: 0;
}
.topPortion {
    display: flex;
    gap: 16px;
    background-color: #202020;
    padding: 10px;
    border-radius: 10px;
}
.grid-container {
    border-radius: 3px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    background-color: #202020;
    padding: 10px;
    gap: 15px;
    border: 0;
}
.grid-item {
    font-weight: 600;
    text-align: center;

}
.grid-container1 {
    display: grid;
    grid-template-columns: 50px 50px;
    border-radius: 3px;
    background-color: #202020;
    padding: 10px;
    gap: 15px;
    margin-left: 1px;
    margin-left: 10p;
    width: 140px;
}
.grid1 {
    font-weight: 600;
    text-align: center;
}
.grid-container2 {
    display: grid;
    grid-template-columns:50px 50px 50px 50px 50px 50px;
    border-radius: 3px;
    background-color: #202020;
    padding: 10px;
    gap: 15px;
    margin-left:1px;
}
.grid2 {
    font-weight: 600;
    text-align: center;
}
.grid-container3 {
    display: grid;
    grid-template-columns:50px 40px;
    border-radius: 3px;
    background-color: #202020;
    padding: 10px;
    gap: 15px;
    width:180px;
    margin-left: 1px;
}
.grid3 {
    font-weight: 600;
    text-align: center;
}

.grid-container4 {
    display: grid;
    grid-template-columns:40px 40px 40px;
    gap: 17px;
}
.grid4 {
    font-weight: 600;
    text-align: center;
}
.footer{
    display: flex;
    padding: 6px;
    gap: 15px;
    background-color: #202020;
    border-radius: 10px;
}
.keyset{
    margin-top: 10px;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: #252424;
    color: white;
    border: 0;
    font-weight: 600;
}
.Space_bar{
    width: 360px;
}
.btnStyle{
    margin-left: 5px;
}
.arrowKeys {
    margin-top: 9px;
    border-radius: 5px;
    height: 70px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    
}
.up_arror {
    height: 20px;
    border-radius: 5px;
    width: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #252424;
    color: white;
    border: 0;
}
.down_arrow {
    border-radius: 5px;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #252424;
    color: white;
    border: 0;
}
button {
    cursor: pointer;
    color: #fff;
    border: none;
    box-shadow: 0  2px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}
button:active {
    box-shadow: 0 2px rgba(0, 0, 0, 0.25);;
    color: white;
    font-weight: bold;
    transform: translateY(3px);
}
.boxContainer{
    background-color: #373737;
}
.number{
    text-align: start;
    margin-left: 9px;
    font-weight: 600;
}
.key {
    font-weight: 600;
    margin-left: 15px;
}
textarea {
    width: 60%;
    height: 150px;
    font-size: x-large;
    background-color: rgba(71, 164, 245, 0);
    border-radius: 10px;
    border: solid 1px white;
    outline: none;
    color: rgb(242, 240, 240);
    margin-left: 250px;
    margin-top: 20px;
    border-color: black;
}
.toggle{
    background-color: rgb(14, 143, 172);
}
.textarea{
    display: flex;
}

.suggestionDiv {
    margin-top: 20px;
    height:150px;
    width: 180px;
    overflow: scroll;
    text-align: center;
    margin-left: 70px;
}
li{
    background-color:#6B6F75;
    color: white;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}

/* mediaquery for mobilee */
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .overAll_container {
        width: 100%;
        padding: 10px;
    }

    .textarea {
        margin-bottom: 10px;
    }

    .container {
        width: 100%;
    }

    .boxContainer {
        display: flex;
        flex-direction: column;
    }

    .topPortion,
    .centerPortion,
    .meiEzhuthukal,
    .div4,
    .footer {
        flex-direction: column;
    }

    .key {
        font-size: 12px;
    }

    .number {
        font-size: 10px;
    }

    .uyirEzhuthu,
    .sounds,
    .meiEzhuthukal,
    .div4child,
    .keyset {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .keys {
        width: 33.33%;
        font-size: 14px;
    }

    .Backspace,
    .Enter,
    .Shift,
    .Space_bar,
    .quote_symbol,
    .question_mark,
    .left_arrow,
    .up_arror,
    .down_arrow,
    .right_arrow {
        width: 25%;
    }

    .grid-container3 {
        flex-wrap: wrap;
    }

    .grid4 {
        width: 50%;
    }
}