*{
    padding: auto;
    margin: 0 auto;
}
textarea{
    width: 90%;
    height: 19rem;
    font-size: x-large;
    background-color: rgba(71, 164, 245, 0);
    border-radius: 10px;
    border: solid 1px white;
    color:black;
    margin-left: 65px;
    border-color: black;
}

textarea:hover{
    box-shadow: 0px 8px 40px lightblue;
}

textarea:focus{
    box-shadow: 0px 8px 40px lightblue;
    border-color: white;
}
.container{
    text-align: center;
    width: 50rem;
    padding-top: 2%;
    padding-bottom: 0.9%;
}
button{
    padding: 10px;
    background-color: rgba(71, 164, 245, 0);
    border-radius: 10px;
    border: solid 1px black;
    color: black;
    font-size: larger;
}
.letters_part{
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
}
.Space_bar{
    padding-left: 7rem;
    padding-right: 7rem;
}
